<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134931628197-h3i4ndmotd1rldjo35q5r9tnctc5lvbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134931628197-h3i4ndmotd1rldjo35q5r9tnctc5lvbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDtpP1o27X3f54ETVmQIKTjGuBLNffACE0</string>
	<key>GCM_SENDER_ID</key>
	<string>134931628197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crunchyapps.ticketsApp</string>
	<key>PROJECT_ID</key>
	<string>ticketsapp-d7dee</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketsapp-d7dee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134931628197:ios:5cad99673e6e192180cd4c</string>
</dict>
</plist>